
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}
@model NTier.Model.Entities.AppUser
<form action="/Admin/AppUser/Update" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Ismi</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Surname">Soyismi</label>
        <input type="text" name="Surname" value="@Model.SurName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="UserName">Kullanıcı Adı</label>
        <input type="text" name="UserName" value="@Model.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Şifre</label>
        <input type="text" name="Password" value="@Model.Password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Telefon No</label>
        <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Address">Adres</label>
        <input type="text" name="Address" value="@Model.Adress" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" name="Email" value="@Model.Email" class="form-control" />
    </div>
    <div class="form-control">
        <label for="Role">Rol</label>
        <select name="Role">
            @foreach (var item in Enum.GetNames(typeof(NTier.Model.Entities.Role)))
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <img style="display:block;" width="30" height="30" src="@Model.ImagePath" />
        <label for="Image">Fotoğraf Seçiniz</label>
        <input type="file" name="Image" value="" />
    </div>

    @Html.HiddenFor(x => x.Id)
    <input type="submit" name="name" value="Güncelle" class="form-control btn btn-primary" />
</form>